# **--------------------------------List---------------------------------**

### What is a List?
A lsit is a collection of data types stored as a single value

a list is :
 - ordered
 - Mutable
 - hetrogenious



There is no fixed size for a list basically

An empty list size in a 32 bit arcitecture is 36 bytes

for a list with datamembers it is usually the 36 byte plus the size of each varible as their pointer is stored 
in general we can say that:

    size of list in memory-->  ** 32+(4*n)   : where n is the number of elements**

In [4]:
l=[1,2,3,4,5,6]
l1=[1,'abc',True,32.5]
a="Mohit"
l2=list(a)
print(l)
print(l1)
print(l2)
print(list())

[1, 2, 3, 4, 5, 6]
[1, 'abc', True, 32.5]
['M', 'o', 'h', 'i', 't']
[]

To GENERATE AN EMPTY LIST WE CAN USE THE LIST LIKE A EXPLICIT TYPE DECLARATION
a=list()

In [5]:
ls=[]

1. append()

In [7]:
ls.append(3)

In [8]:
print(ls)

[3]

2. extend()

In [9]:
ls.extend([1,2])

In [10]:
print(ls)

[3, 1, 2]

3. insert()

insertion is done by passing the value to be inserted and the index(index,value)

In [21]:
ls2=[123,324,12,356,231]

In [17]:
ls2.insert(1,5)
print(ls2)

[123, 5, 324, 12, 356, 231, 1, 1]

4. remove()

In [22]:
ls2.remove(12)
print(ls2)

[123, 324, 356, 231]

5. pop()

In [25]:
ls2.pop()
print(ls2)

[123, 324, 356]

6. index()

In [26]:
ls2.index(324)

1

7. count()

In [27]:
ls=[1,2,5,2,8,1,1,5,2,4,5,1,55,1,2,545,1,4]

In [28]:
ls.count(1)

6

8. sort()

Sort does not return

In [ ]:
ls.sort()
print(ls)
ls.sort(reverse=True) #Descending order
print(ls)

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 4, 4, 5, 5, 5, 8, 55, 545]
[545, 55, 8, 5, 5, 5, 4, 4, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]

In [50]:
ls.sort()

9. reverse()

In [36]:
l=[1,2,3]
l.reverse()

print(l)

[3, 2, 1]

Some Functions:

- len()

- max()

- min()

- sum()

- sorted()

- any()

- all()

In [37]:
l=[5,544,2,5,1,4,1,5,3,1,7,8]

In [40]:
print(len(l))
len([2,4,7,4])

12

4

In [46]:
print("MAX",max(l))
print(min(l))

print("MAX",max([1,593,15523,15]))
min([593,15523,15])

MAX 544
1
MAX 15523

15

In [48]:
print(sum([1,2,3]))
sum(l)

6

586

In [49]:
sorted(l)

[1, 1, 1, 2, 3, 4, 5, 5, 5, 7, 8, 544]

## Difference between Sort and Sorted

In [2]:
print("hello")

hello

---

Making matrix with the help of list

In [6]:
mat=[]
lm=int(input("Enter the length of column"))
lr=int(input("Enter the length of rows"))
for i in range(lm):
    mat.append([])
    for j in range(lr):
        val=int(input("Enter the element"))
        mat[i].append(val)

print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [52, 45, 42]]

filtering a nested list or mstrix

adding all the odd elements of the matrix in another list

In [9]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
odd=[]

even=[]
for i in m:
    for j in i:
        if j%2!=0:
            odd.append(j)

        else:
            even.append(j)
print("The odd list is ",odd)
print("The even list is ",even)

The odd list is  [1, 3, 5, 7, 9]
The even list is  [2, 4, 6, 8]

making a nested list into a single falt list

In [10]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nl=[]

for i in m:
    for j in i:
        nl.append(j)
print(nl)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Remove duplicates from a list without using set().

In [12]:
ls=[1,22,2,1,4,144,45,424,324,2,2,2,2,1232,4234,1,24,2132,4234,131]
nls=[]
for i in ls:
    if i not in nls:
        nls.append(i)

print("the list after removing the nested elements is", nls)

the list after removing the nested elements is [1, 22, 2, 4, 144, 45, 424, 324, 1232, 4234, 24, 2132, 131]

## Merge two lists and sort without using sort().

In [26]:
# l1=[1,23,4,5,6,34,424,42,242,43,354,2]
l1=[]
l2=[41,233,24,25,62,324,424,242,2422,243,354,22]

l=l1+l2

print(f"The list after merging both the list is {l}")

c=len(l)
for i in range(c):
    for j in range(0,c-i-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
print(l)

The list after merging both the list is [41, 233, 24, 25, 62, 324, 424, 242, 2422, 243, 354, 22]
[22, 24, 25, 41, 62, 233, 242, 243, 324, 354, 424, 2422]

## Find all pairs whose sum equals a target value.

In [ ]:
l=[1,2,3,4,5,6,7,8,6,9,4,2]

target=7
ln=[]
for i in range(len(l)):
    for j in range(i,len(l)):
        if l[i]+l[j]==target :
            if (l[i],l[j]) not in ln:
                ln.append((l[i],l[j]))
print(ln)

type(ln[0])

[(1, 6), (2, 5), (3, 4), (5, 2)]

tuple

## Find difference between largest and smallest element.

In [25]:
l=[41,233,24,25,62,324,424,242,2422,243,354,22]
sml=l[0]
large=l[0]

for i in range(len(l)):
    if l[i]<sml:
        sml=l[i]
    elif l[i]>large:
        large=l[i]

print(f"The difference between the smallest and largest elemment is {large-sml}")

The difference between the smallest and largest elemment is 2400